* {
    box-sizing: border-box;
}

body {
    background: aquamarine;
}

.spinner {
    position: relative;
    width: 6rem;
    height: 6rem;
    margin: 6rem auto;
    border: 1px solid transparent;
}

div[class^="curve"] {
    position: absolute;
    transform: rotate(135deg);
    animation: spin 4s infinite;
}

.curve_top_left {
    width: 3rem;
    height: 3rem;
    border-top: 0.5rem solid #fff;
    border-left: 0.5rem solid #fff;
    border-top-left-radius: 100%;
    transform-origin: 100% 100%;
}

.curve_top_right {
    width: 2rem;
    height: 2rem;
    top: 1rem;
    right: 1rem;
    border-top: 0.5rem solid #fff;
    border-right: 0.5rem solid #fff;
    border-top-right-radius: 100%;
    transform-origin: 0 100%;

}

.curve_bottom_right {
    width: 3rem;
    height: 3rem;
    bottom: 0;
    right: 0;
    border-bottom: 0.5rem solid #fff;
    border-right: 0.5rem solid #fff;
    border-bottom-right-radius: 100%;
    transform-origin: 0 0;
}

.curve_bottom_left {
    width: 2rem;
    height: 2rem;
    left: 1rem;
    bottom: 1rem;
    border-bottom: 0.5rem solid #fff;
    border-left: 0.5rem solid #fff;
    border-bottom-left-radius: 100%;
    transform-origin: 100% 0;
}

.center_circle {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    left: 50%; top: 50%;
    background: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: pulse 2s infinite;
}

@keyframes spin {
    0% {
        transform: rotate(135deg); opacity: 1;
    }
    25% {
        opacity: 0.75;
    }
    50% {
        transform: rotate(675deg); opacity: 1;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        transform: rotate(135deg); opacity: 1;
    }
}

@keyframes pulse {
    0% {opacity: 1;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}

a.fade_in_bg {
    text-decoration: none;
    border-bottom: 1px dotted #3498db;
    transition: all 0.35s;
    padding:0 0.25em 0.05em;
}

a.fade_in_bg:hover {
    background: #3498db;
    color: #fff;
}
